.u-section-1 {
  background-image: url("images/7b220ba5b42ff3d8f1a4008c4452050b1834b037e6c157fe919400bbcbf971ac9075be4d407830c294195d42ff17d0ad11c9b2bde58da568ad422c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 543px;
}

.u-section-1 .u-group-1 {
  width: 768px;
  min-height: 333px;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 28px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 381px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-1 .u-group-1 {
    min-height: 333px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 60px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 46px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 433px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  border-style: none;
  background-image: none;
  margin: 60px auto;
  padding: 18px 137px 19px;
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    padding-right: 75px;
    padding-bottom: 20px;
    padding-left: 74px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 434px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 60px auto;
  padding: 26px 122px 27px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 70px;
    padding-left: 70px;
  }
}